<footer>
    <div class="top">



        <div class="address">

            <img src="/assets/images/logo final-01-01(1).png" alt="">
            <div>

                <h3>Address</h3>
                <div>
                    <i class="fas fa-home"></i>
                    <p>Laxmi Nagar, Delhi, India</p>
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <p>gauravrajpoot@seaborntechnologies.com</p>
                </div>
                <div>
                    <i class="fas fa-phone-alt"></i>
                    <p>+918077672234</p>
                </div>

            </div>
        </div>
        <div class="smlink">
            <h4>Follow us:-</h4>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"> </i>
            
        </div>
        <!-- <div class="brochure">
              <h4>Download company brochure</h4>
        </div> -->

        

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.269935582369!2d77.30777591492233!3d28.59167778243395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4f4a5142f21%3A0x868c1b473c5c8207!2sStreet%20No.%2021%2C%20Block%20A%2C%20New%20Ashok%20Nagar%2C%20Noida%2C%20Uttar%20Pradesh%20110096!5e0!3m2!1sen!2sin!4v1632502029322!5m2!1sen!2sin"  allowfullscreen="" loading="lazy"></iframe>

        </div>

    </div>
    <div class="middle">
        <div class="training section">
            <h3>Trainings</h3>
            <p routerLink="python"> <i class="fas fa-chevron-right"></i> Python</p>
            <p routerLink="pythonWithDJango"> <i class="fas fa-chevron-right"></i> Python with Django</p>
            <p routerLink="dataScience"> <i class="fas fa-chevron-right"></i> Data Science</p>
            <p routerLink="machineLearning"> <i class="fas fa-chevron-right"></i> Machine Learning</p>
            <p routerLink="ai"> <i class="fas fa-chevron-right"></i> Artificial Intelligence</p>
            <p routerLink="devops"> <i class="fas fa-chevron-right"></i> Devops</p>
            <p routerLink="powerBI"> <i class="fas fa-chevron-right"></i> Power Bi</p>
            <p><i class="fas fa-chevron-right"></i>Data Analytics</p>
            <p><i class="fas fa-chevron-right"></i>Neural Networks</p>
            <p><i class="fas fa-chevron-right"></i>Deep Learning</p>
            <p><i class="fas fa-chevron-right"></i>Tensorflow</p>
        </div>
        <div class="services section">
            <h3>IT-Services</h3>
            <p><i class="fas fa-chevron-right"></i>Web Scrapping</p>
            <p><i class="fas fa-chevron-right"></i>Machine Learning</p>
            <p><i class="fas fa-chevron-right"></i>Software</p>
            <p><i class="fas fa-chevron-right"></i>IOT</p>
            <p><i class="fas fa-chevron-right"></i>Artificial Intelligence</p>
            <p><i class="fas fa-chevron-right"></i>RPA</p>
            <p><i class="fas fa-chevron-right"></i>Digital Marketing</p>
            <p><i class="fas fa-chevron-right"></i>Devops</p>
            <p><i class="fas fa-chevron-right"></i>Graphics Design</p>
            
            
            

        </div>
        <div class="industries section">
            <h3>Industries</h3>
            <p><i class="fas fa-chevron-right"></i>Banking & Finance</p>
          <p><i class="fas fa-chevron-right"></i>Reatil & Ecommerce</p>
          <p><i class="fas fa-chevron-right"></i>Travel & Tourism</p>
          <p><i class="fas fa-chevron-right"></i>Education & Learning</p>
          <p><i class="fas fa-chevron-right"></i>Healthcare</p>
          <p><i class="fas fa-chevron-right"></i>Logistics & Transportation</p>
          <p><i class="fas fa-chevron-right"></i>Media & Entertainment</p>
          <p><i class="fas fa-chevron-right"></i>Automotive</p>
        </div>
        <div class="payments section">
            <h4>We accept online payments</h4>
            <div class="plogo">
                <img src="/assets/images/payments/Visa_Inc._logo.svg.png" alt="">
                <img src="/assets/images/payments/1200px-Maestro_logo.svg.png" alt="">
                <img src="/assets/images/payments/American-Express-Logotype-Stacked.png" alt="">
                <img src="/assets/images/payments/2560px-MasterCard_Logo.svg.png" alt="">
            </div>
            <h4>Subscribe now</h4>
            <form action="">
                <input type="text" placeholder="Enter mail" >
                <input type="text" placeholder="Enter mobile no." > <br>
                <button>Subscribe</button>
            </form>
        </div>
        <div class="qr">
            <img  src="/assets/images/seaborn.png" alt="seaborn"/>
        </div>
        
    </div>
    <div class="bottom">
        <p>Seaborn Technologies © 2019.</p>

        <div class="links">
            <p><i class="fas fa-handshake"></i>Join us</p>
            <p><i class="fas fa-phone-alt"></i>Request Call</p>
            <p><i class="fas fa-award"></i>Scholarship</p>
            <p><i class="fab fa-telegram-plane"></i>Apply as trainer</p>
        </div>
        
    </div>
</footer>