<main>

     <div class="backGround1"></div> 
     <div class="backGround2"></div>


<div class="landing">
    <div class="content">
      <h1>Providing the best Services</h1>
    <p>Our company is committed to providing services in trending technologies to our clinnts worldwide. Backed by a team of highly skilled and experienced developer.</p>
    </div>


    <img class="mainImg" src="/assets/images/undraw_interaction_design_odgc.svg" alt="">
</div>


<div class="services">

      <div class="cards" *ngFor= "let item of data" [class]="item.flipped ? 'flipped' : 'non-flipped'"  >
          
          <div class="heading">
            <h1>{{item.heading}} </h1>
            <p>{{item.content}} </p>
            
          </div>
          <div class="img">
            <img [src]="item.img" alt="">
          </div>

      </div>

</div>
</main>
