main{overflow: hidden;box-sizing: border-box;width: 100%;background: linear-gradient(to top, rgba(136, 1, 91, 0.548), rgba(64, 2, 114, 0.514));}
.circle{position: absolute;border: 20px solid white;border-radius: 50%;}
.c1{height: 300px;width: 300px;transform: translate(-100px,-100px);}
.c2{height: 400px;width: 400px;top: 55vh;right: 0;transform: translateX(200px);display: none;}
.backg{position: absolute;z-index: -1;}

.main{display: flex;align-items: center;justify-content: center;}
.landing{position: relative;  width: 90%;padding: 0 3% ;background: rgba(255, 255, 255, 0.651);box-shadow: 0 15px 30px rgba(255,255,255,0.3);border-radius: 20px;
    

    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);


    margin: 70px 0;padding: 4%;

    

}
.landing h1{color: rgb(40, 0, 48);}
.landing h2{color: rgb(125, 6, 141);}
.cardHolder{display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}
.card{width: 25%; background-color:rgba(255, 255, 255, 0.521);height:a; display: flex;align-items: center;justify-content: space-between;margin: 30px;padding: 20px;border-radius: 5px;position: relative;}
.card i{position: absolute;font-size: 150px;color: rgba(204, 204, 204, 0.24);left: 15px;top: 15px; z-index: 1;}
.card p{width:100%;text-align: center;}
.card h6{margin: 20px 0;}
.card img{width: 40%; border-radius: 100px;}
.cbg{height: 6px;width: 100%;transition: .5s;z-index: -1;background-color: rgb(255, 255, 255); position: absolute;bottom: 0;}


.card:hover .cbg{height: 100%;}

@media (max-width: 960px){
    .card{width: 100%;padding: 10px ;margin: 20px 0;}
   
    .landing{margin: 50px 0;padding: 35px;}
}