<main>
    <div class="landing">
        <div class="holder">
            <div class="content">
                <h1>Python</h1>
                <div class="about">
                    <p> <b> Course Duration</b> <br> 30 Hours </p>
                    <p> <b>Live Projects</b> <br> 2 </p>
                    <p> <b>Training Format</b> <br> Online Training/Classroom</p>

                </div>
            </div>
            <img src="/assets/images/tech/2048px-Python-logo-notext.svg.png" alt="">
        </div>
    </div>
    <h1 class="mainHeadings">Python</h1>
    <div class="overview">
          <img  src="/assets/images/tech/2048px-Python-logo-notext.svg.png" alt="">

        <div class="content">
            <p>Python is high level language, which was introduced by Guido Van Rossum. It includes
                concepts of (object oriented programming) OOPS provides high level modularity with
                predefines modules.
                Our institute not only help students to master core python but also help them to advance in
                the field of python programming by introducing students with various frameworks of
                python. Student in beginner level can opt for core python and students with basic
                understanding of core python can opt for advanced python. With wide variety of
                frameworks student can contemplate and chose there path based on their strength and
                weakness.
                Our institute believes in transforming this weakness into one of their strength points.
                Python have wide scope of working with various technologies some of the features that <br> <b>python can
                    be used with are :</b></p>

            <h6><i class="fas fa-chevron-right"></i>Web scrapping</h6>
            <h6><i class="fas fa-chevron-right"></i>IOT</h6>
            <h6><i class="fas fa-chevron-right"></i>Data Science</h6>
            <h6><i class="fas fa-chevron-right"></i>machine Learning</h6>
            <h6><i class="fas fa-chevron-right"></i>Artificial Intelligence</h6>
            <h6><i class="fas fa-chevron-right"></i>RPA (robotic proceess automation)</h6>

            <p>If student is really passionate and dedicated in their journey, we don’t leave any stone
                unturned to achieve what they desire. Python is future technology taking over the IT
                industry like fire and it will keep on spreading as the time goes ahead because of its
                features. We not only help students with theories of python but we provide them practical
                environment with various projects. <br> <b>Some of the projects that we have worked on:</b>
              
               
            </p>
            <h6><i class="fas fa-chevron-right"></i> Website designing</h6>
            <h6><i class="fas fa-chevron-right"></i>Chatbot </h6>
            <h6><i class="fas fa-chevron-right"></i> Web Application</h6>
            <h6><i class="fas fa-chevron-right"></i>Scientific application</h6>
            <h6><i class="fas fa-chevron-right"></i> Data Analytics ………… etc.</h6>


        </div>
        <div class="query">
            <h1>Drop a Query</h1>
            <form action="">
                <div>
                    <label for=""><i class="fas fa-user"></i></label>
                    <input type="text" placeholder="Enter your name">
                </div>
                <div>
                    <label for=""><i class="fas fa-envelope"></i></label>
                    <input type="text" placeholder="Enter email">
                </div>
                <div>
                    <label for=""><i class="fas fa-phone"></i></label>
                    <input type="text" placeholder="Enter mobile no.">
                </div>
                <div>
                    <label for=""><i class="fas fa-book"></i></label>
                    <input type="text" placeholder="Enter course">
                </div>
                <div>
                    <label for=""><i class="fas fa-hand-point-up"></i></label>
                    <select name="Select training mode" id="">
                        <option value="">Select training mode</option>
                        <option value="">Classroom training</option>
                        <option value="">Online training</option>
                    </select>
                </div>
                <input type="text" id="msg" placeholder="Enter your message">
                <button>Submit</button>
            </form>


        </div>

    </div>
    <h1 class="mainHeadings">Our Placement Process</h1>
    <div class="placement">

    <img src="/assets/images/Process.png" alt="placement Process" />

    </div>
    <h1 class="mainHeadings" >Course Overview</h1>
    <div class="dropdown">
        
        <div class="section" *ngFor= "let item of data">
            <h4><i class="fas fa-plus-circle" (click)="changeSelectedValue(item.number)"></i>{{item.heading}}</h4>
            <p *ngIf="item.number === selectedValue">{{item.content}}</p>
        </div>

    </div>
    <h1 class="mainHeadings" >Batch Schedule</h1>
    <div class="table">
        <table>
            <tr>
                <th>Days</th>
                <th>Start on</th>
                <th>Timing </th>
                <th>Enroll Now</th>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>15<sup>th</sup> Sep. 2021</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>20<sup>th</sup> Sep. 2021</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>15<sup>th</sup> Oct. 2021</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>20<sup>th</sup> Oct. 2021</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
            <tr>
                <td>Mon-Sun</td>
                <td>28<sup>th</sup> Nov. 2021</td>
                <td>9AM-6PM</td>
                <td><button>Enroll Now</button></td>
            </tr>
        </table>
    </div>

    <div class="certification">
        <img id="bg" src="/assets/images/course/certification.jpg" alt="certification"/>
        <div class="about">
            <div class="content">
                <h1> FREE MICROSOFT CERTIFICATION TO OUR STUDENTS</h1>
            <h4>Microsoft’s Technology Associate Certificate Holders work at 1000s of companies like</h4>
            <button>Get a sample certificate</button>
            </div>
            <img id="crtif" src="/assets/images/course/certificate.jpg" alt=""/>
        </div>
        <div class="report">
            <p><b>150+</b> <br> Course Completed</p>
            <p><b>50+</b> <br> Live Projects</p>
            <p><b>250+</b> <br> Certified Students</p>
            <p><b>70+</b> <br> Placed Students</p>
            <p><b>7+</b> <br> Years of Experience</p>
        </div>
        
       
    </div>
<h1 class="mainHeadings" >FAQ</h1>
    <div class="dropdown">
        <div class="section" *ngFor= "let item of faqData">
            <h4><i class="fas fa-plus-circle" (click)="changeSelectedValue(item.number)"></i>{{item.ques}}</h4>
            <p *ngIf="item.number === selectedValue">{{item.answ}}</p>
        </div>
    </div>
    

</main>